* {
  box-sizing: border-box;
}
body {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px 500px;
  background-color: #71aa97;
  /* grid-auto-rows: 270px;
  grid-auto-columns: 270px; */
}
header {
  grid-column: 2;
  grid-row: 1;
}
h1 {
  color: #b0df95;
  font-family: "Indie Flower", cursive;
  font-size: 65px;
  text-align: center;
  /* text-orientation: sideways; */
}
aside {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-around; */
  grid-row: 1;
  grid-column: 1;
  padding: 35px 0 0 0;
}
p {
  color: #b0df95;
  font-family: "Indie Flower", cursive;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
  /* padding: 0 0px 0px 20px; */
  justify-self: center;
  width: 300px;
  grid-row: 2;
  grid-column: 1;
}
.leftSide {
  grid-row: 1;
  grid-column: 3;
}
h2 {
  color: #b0df95;
  font-family: "Indie Flower", cursive;
  font-size: 55px;
  text-align: center;
  margin: 0;
}
main {
  margin: 0 auto;
  display: grid;
  grid-row: 2;
  grid-column: 2;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}
.buttonContainer {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
.start-button,
.reset,
.hard-mode {
  width: 100px;
  height: 50px;
  border: 2px solid #b0df95;
  font-family: "Indie Flower", cursive;
  font-size: 30px;
  text-align: center;
  color: #b0df95;
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
}
.reset {
  grid-row: 3;
}
.hard-mode {
  grid-row: 4;
  width: 115px;
}
.start-button:hover,
.reset:hover,
.hard-mode:hover {
  background-color: #b0df95;
  color: #71aa97;
}
.square {
  height: 200px;
  width: 200px;
  background-color: #267158;
  border: 0.5px solid #003926;
  border-radius: 18px;
  margin: 30px;
  filter: drop-shadow(8px 8px 8px #003926);
}
.two {
  background-color: #356f13;
}

.three {
  background-color: #478d76;
}
.four {
  background-color: #0e553e;
}

.two.active {
  background-color: white;
}

.one.active {
  background-color: white;
}
.three.active {
  background-color: white;
}
.four.active {
  background-color: white;
}
/* font-family: 'Indie Flower', cursive; */
